html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  background-color: #9e9e9e;
}

/* 전체 여백 담당 */
.app-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 30px;
}

/* 실제 인터페이스 영역 */
.layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  overflow: hidden;
  position: relative;

  border-radius: 30px;
}
