/* ============================================
   CalendarPanel 스타일
   ============================================ */

/* Calendar 컨테이너 */
.calendar{
    width: 300px;
  background: #fff5d2;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: width 0.3s ease;
}

.calendar-content h2{
    border-bottom: 2px solid gray;
}