/* Header */
.header {
  height: 60px;
  border-radius: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.layout {
  width: calc(100vw - 0px);
  display: flex;
  height: calc(100vh - 60px);
}