.mainnote {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff5d2;
    min-width: 0;

}

/*메모지 담당*/
.mainnote ul {
  list-style: none;
  padding: 0;
  margin: 0 0 16px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mainnote ul li {
    margin: 10px;
  padding: 60px 50px;
  background: #f0f0f0;
  border-radius: 20px;
}

.memo-container {
    flex: 1;
    overflow-y: auto;
    padding: 16px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.memo-post-it {
    width: 60%;
    height: 30%;
    resize: none;

    font-size: 14px;
    line-height: 1.6;

    border: none;
    outline: none;
    padding: 14px;
    border-radius: 14px;
    background: #ffdbab;
}