.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  width: 360px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup textarea {
    width: 100%;
    height: 250px;
    
    resize: none;
    overflow-y: auto;
    padding: 8px;
    font-size: 14px;
    box-sizing: border-box;
}